body {
	background-color: grey;
}

#logo {
	height:100%;
}

footer {
	background-color: #333;
}

footer p {
	color:white;
	font-style: italic;
	padding-top: 5px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}